<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href=https://infotelglpi.github.io/servicecatalog/assets/css/style.css?v=2cf8a56e5b12a9ede54979a2c1adb67b05394168" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Plugin Service Catalog for GLPI</h1>
      <h2 class="project-tagline"></h2>
      {% for page in site.pages %}
        <a href= {{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %}
      <a href="https://github.com/InfotelGLPI/servicecatalog" class="btn">View on GitHub</a>
      <!--<a href="https://github.com/InfotelGLPI/servicecatalog/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/InfotelGLPI/servicecatalog/tarball/master" class="btn">Download .tar.gz</a>-->
    </section>

    <section class="main-content">
      
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/InfotelGLPI/servicecatalog">servicecatalog</a> is maintained by <a href="https://github.com/InfotelGLPI">InfotelGLPI</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
